@charset "utf-8"


/* COMMON HEADER
 * -----------------------------------------------*/

header
  width: auto
  height: auto
  background-color: #a58ecf
  .nav
    height: 154px
    .inner
      padding-top: 55px
      width: 1000px
      margin: 0 auto
      display: flex
      justify-content: flex-end
      a
        color: #d6c7f1
        font-size: 14px
        margin-left: 28px
        margin-bottom: 80px
        font-weight: 600
      a:hover
        color: #ffffff
        border-bottom: 2px solid #ffffff
+desktop
  header
    width: auto
    height: auto

+mobile
  header
    width: auto
    min-width: 120px
    .nav
      width: auto
      .inner
        width: auto
        padding-right: 50px

