extends _layouts/default

block vars
  -title        = 'happy'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '.'

block container
  section.section-top-keyvisual
    h1.section-title Builder.io
    .content-top
      p.top-title Builder.io lets you generate unique HTML website templates talloried for desigers.
      a.btn-top.btn-default(href="#") SIGN UP
      img.img-top(src="img/top/bg.png", width = "100" alt="background")

  section.section-top-about
    .section-title
      .about-button
        a.started.btn-default(href="#") GET STARTED
        a.demo.btn-default(href="#") TRY DEMO
      h2.built Built for creative folk
      p.section-content(lang="zxx") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore <br> et dolore magna aliqua consectetur adipisicing elit.  
  
  
  section.section-top-work
    .wrapper
      .work-top
        .left
          h2.title work width your hands
          .content(lang="zxx")  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do <br> eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam
          a.create-account.btn-default(href="#") CREATE ACCOUNT
        .right
          .title Optimised for the road
          .content Builder not only works great on a desktop or laptop but has also <br> been optimised to be just as easy to use on a table or mobile device.
      .work-bellow
        img.phone(src="img/work/phone.png", alt="Phone")
  
  section.section-for
    .section-title
      h2.title TAKE A LOOK INSIDE
      p.content(lang="zxx") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore <br> magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
      .button-section-for
        a.take-money.btn-default(href="#") TAKE MY MONEY
        a.free-account.btn-default(href="#") FREE ACCOUNT
  section.section-five
    .wrapper
      .row
        .col
          img.icon(src="img/five/icon_chart.png", alt="Chart")
          h2.title Pick your layouts
          p.content(lang="zxx") Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut <br> enim ad minim veniam
          a.more(href="#") Create Account Here
        .col
          img.icon(src="img/five/icon_archive.png", alt="Archive")
          h2.title Export
          p.content(lang="zxx") Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut <br> enim ad minim veniam
          a.more(href="#") See Pricing
        .col
          img.icon(src="img/five/icon_arrows.png", alt="Arrows")
          h2.title Edit
          p.content(lang="zxx") Lorem ipsum dolor sit amet, consectetur <br> adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut <br> enim ad minim veniam
          a.more(href="#") View support Documents
  section.pricing
    .section-title
      h2.choose-subscription CHOOSE A SUBSCRIPTION
      .choose-info A interface built by designers, for designers. What a clice tag line lol.
        .option
          .option-left.margin-bottom
            .name-option FREE ACCOUNT
            .great Great for giving it a try or the one off
            .design web design <br>
              span FREE
            ul
              li.limit Save up to 2layers
              li.limit Export 1 HTML Template
              li.limit 14 Layout Option
              li.more Tweet to get mor layouts
              li.option-button.left
                a.sign-up.btn-default(href="#") SIGN UP 
                img.position(src="img/pricing/icon_check_left.png", alt="Check_left")
              li.join Join 34,293 users
          .option-left
            .name-option YEARLY SUBSCRIPTION
            .great Great for giving it a try or the one off
            .design web design <br>
              span $89 /YEAR
            ul
              li.limit Save unlimited layouts
              li.limit Export unlimited HTML Template
              li.limit Over 30 Layout Options counting
              li.limit New layout added monthly
              li.limit Learning Documentation
              li.more Something else
              li.option-button
                a.sign-up.button-right.btn-default(href="#") SIGN UP
                img.check.check-right(src="img/pricing/icon_check_right.png", alt="Check_right")
              li.join-right Join 1,828 users