footer

    .inner
      ul.list
        li.item: a(href="#"): h2.title BUILDER.IO
        li: a(href="#"): p.content Login
        li: a(href="#"): p.content Sign Up
        li: a(href="#"): p.content Support
        li: a(href="#"): p.content Contact Us
      ul.list
        li: a(href="#"): h2.title COMPANY
        li: a(href="#"): p.content About Us
        li: a(href="#"): p.content Blog
      ul.list
        li: a(href="#"): h2.title LEARNING
        li: a(href="#"): p.content Support Articles
        li: a(href="#"): p.content Support Documentation
        li: a(href="#"): p.content Forum
        li: a(href="#"): p.content How to Videos
      //- .row
      //-   .col
      //-     a(href="#"): h2 BUILDER.IO
      //-     a(href="#"): p Login
      //-     a(href="#"): p Sign Up
      //-     a(href="#"): p Support
      //-     a(href="#"): p Contact Us
      //-   .col
      //-     a(href="#"): h2 COMPANY 
      //-     a(href="#"): p About Us
      //-     a(href="#"): p Blog
      //-   .col
      //-     a(href="#"): h2 LEARNING
      //-     a(href="#"): p Support Articles
      //-     a(href="#"): p Support Documentation
      //-     a(href="#"): p Forum
      //-     a(href="#"): p How to Videos