footer

    .inner
        .row
            .col-3
                a(href="#"): h3 BUILDER.IO
                a(href="#"): p Login
                a(href="#"): p Sign Up
                a(href="#"): p Support
                a(href="#"): p Contact Us
            .col-3
                a(href="#"): h3 COMPANY 
                a(href="#"): p About Us
                a(href="#"): p Blog
            .col-3
                a(href="#"): h3 LEARNING
                a(href="#"): p Support Articles
                a(href="#"): p Support Documentation
                a(href="#"): p Forum
                a(href="#"): p How to Videos